.section {
  width: 100%;


  div {
    margin: 72px 16px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 16px;

    h4 {
      font-size: 36px;
    }

    button {
      width: 150px;
      height: 48px;

      background: transparent;
      border: solid 2px #75ADC4;
      color : #75ADC4;
      font-size: 20px;
      cursor: pointer;

      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 0.2s;

      svg {
        color: #75ADC4;
      }

      &:hover {
        background: #75ADC4;
        color: #FFFFFF;

        svg {
          color: #FFFFFF;
        }
      }
    }
  }
}